header.hero-unit {
  padding-left: 35%;
  background-image: url('../images/australia.png');
  background-repeat: no-repeat;
  background-size: 260px;
  background-position: 10% 50%;

  -webkit-border-top-right-radius:	0;
  -webkit-border-top-left-radius: 	0;
  -moz-border-radius-topright: 		0;
  -moz-border-radius-topleft: 		0;
  border-top-right-radius: 			0;
  border-top-left-radius: 			0;
}

h1, h2 { text-shadow: 0 1px rgba(255,255,255,0.6); }
#sites li { font-size: 16px; }

@media (max-width: 920px) { header.hero-unit { background-size: 210px; background-position-x: 0; } }
@media (max-width: 600px) {
  header.hero-unit { padding-left: 60px; background-image: none; }
}