$font_regular: "ProximaNovaRegular", "Helvetica Neue", "serif";
$font_light: "ProximaNovaLight", "Helvetica Neue", "serif";
$font_bold: "ProximaNovaSemiBold", "Helvetica Neue", "serif";
$font_icons: "Icons";

$grey_dark: #333;
$grey: #999;
$grey_light: #acacac;
$bg: darken(white, 3%);
$off_white: #fbfbfb;

$text: $grey_dark;
$text_light: #aaaaab;

$yellow: #ffdd7a;

$prefixes: webkit moz o;

$button_radius: 3px;